*{
    margin: 0;
    padding: 0;
    border: 0; 
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(80, 23, 30);
}

.button {
    background-color:gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: auto;
    box-shadow: 5px 5px 5px #000000;
}

.section--full-width {
    background-image: url(01a.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main{
    width: 75%;
    margin: 0 auto;
}

.claret-bg{
    background-color: rgb(80, 23, 30);
}

.claret-text {
    color: rgb(80, 23, 30);
}

.black-bg {
    background-color: #000;
}

.black-text{
   color: #000;
}

.white-bg{
    background-color: #fff;
}

.white-text{
   color: #fff;
}

.txt-padding {
    padding: 10px;
    text-shadow: 5px 5px 5px #000000;
}